<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.kernel.increased-debugging-memory-limit</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<!-- re-enable on apple approval for default browser entitlement
	     https://developer.apple.com/contact/request/default-browser/
	<key>com.apple.developer.web-browser</key>
	<true/>
	<key>com.apple.developer.browser.app-installation</key>
	<true/>
	-->
</dict>
</plist>
